<app-navbar></app-navbar>
<div class="form-container">
  <h1 class="register-header">Accommodation Details</h1>
  <div class="container">
    <div class="half">
      <div class="picture_container">
        <div class="main_picture"><img src="./assets/europe_background.jpg" alt="Slika"></div>
        <div class="sidebar_pictures">
          TESTT
        </div>
      </div>
      <div class="container1">
        <h1 class="acc-header">WHAT THIS PLACE HAS TO OFFER</h1>
        <div class="grid-container">
          <div class="grid-item">1</div>
          <div class="grid-item">2</div>
          <div class="grid-item">3</div>
          <div class="grid-item">4</div>
          <div class="grid-item">5</div>
          <div class="grid-item">6</div>
        </div>
      </div>
      <div class="container1">
        <h1 class="acc-header">DESCRIPTION</h1>
        <body class="description">
        TEKSTT
        </body>
      </div>
    </div>
    <div class="half">Right</div>
  </div>
</div>
