<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Reservation request</mat-card-title>
        <mat-card-subtitle>
          <h3>Villa impresia</h3>
          <li>Earnings: 2500$</li>
          <li>From: 15.September 2024</li>
          <li>Duration: 5 Days</li>
        </mat-card-subtitle>
      </mat-card-title-group>
      <img mat-card-md-image src="assets/hotel-demo.png" class="picture">
      <img mat-card-md-image src="assets/hotel-demo.png" class="picture">
      <button mat-icon-button id="add-pictures-btn">
      </button>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button class="global-dangerBtn"> Deny reservation request </button>
      <button mat-raised-button class="global-darkBtn right-btn"> Approve reservation request </button>
    </mat-card-content>
  </mat-card>
</div>
