<mat-toolbar>
  <span class="spacer"></span>

  <mat-icon class="icon">
    <span class="material-icons-outlined">menu</span>
  </mat-icon>
  <button type="button" mat-button color="primary" class="text1" [matMenuTriggerFor]="accountMenu">Menu</button>
  <mat-menu class="mat-menu-panel" #accountMenu="matMenu">
    <button type="button" routerLink="/main" mat-menu-item class="text"><span class="material-icons">home</span>
      Home</button>
    <button type="button" mat-menu-item routerLink="/register">
      <span class="material-icons">edit</span>Register</button>
    <button type="button" mat-menu-item routerLink="/login"><span class="material-icons">login</span>Login</button>
  </mat-menu>
  <div class="rectangle37"></div>
</mat-toolbar>
