<app-navbar></app-navbar>

<div class="container">
  <div class="blue-square">
    <h2 id="apartment-info">Owner info</h2>
    <div id="apartment-info-details">
      <li> Name: {{owner?.name}}</li>
      <li> Last name: {{owner?.lastName}}</li>
      <li> Average grade: {{averageGrade}}</li>
      <li> Email: {{owner?.email}}</li>
      <li> Your grade:</li>
      <button mat-icon-button (click)="ratingStateChangedGUI(0)"  matSuffix type="button">
        <mat-icon>
          <span *ngIf="!rating[0]" class="material-icons-outlined">favorite_border</span>
          <span *ngIf="rating[0]" class="material-icons-outlined">favorite</span>
        </mat-icon>
      </button>
      <button mat-icon-button (click)="ratingStateChangedGUI(1)"  matSuffix type="button">
        <mat-icon>
          <span *ngIf="!rating[1]" class="material-icons-outlined">favorite_border</span>
          <span *ngIf="rating[1]" class="material-icons-outlined">favorite</span>
        </mat-icon>
      </button>
      <button mat-icon-button (click)="ratingStateChangedGUI(2)"  matSuffix type="button">
        <mat-icon>
          <span *ngIf="!rating[2]" class="material-icons-outlined">favorite_border</span>
          <span *ngIf="rating[2]" class="material-icons-outlined">favorite</span>
        </mat-icon>
      </button>
      <button mat-icon-button (click)="ratingStateChangedGUI(3)"  matSuffix type="button">
        <mat-icon>
          <span *ngIf="!rating[3]" class="material-icons-outlined">favorite_border</span>
          <span *ngIf="rating[3]" class="material-icons-outlined">favorite</span>
        </mat-icon>
      </button>
      <button mat-icon-button (click)="ratingStateChangedGUI(4)"  matSuffix type="button">
        <mat-icon>
          <span *ngIf="!rating[4]" class="material-icons-outlined">favorite_border</span>
          <span *ngIf="rating[4]" class="material-icons-outlined">favorite</span>
        </mat-icon>
      </button>

    </div>
    <mat-form-field style="margin-left: 10%; width: 70%" class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput [(ngModel)]="textComment" placeholder="Max 300 characters"></textarea>
    </mat-form-field>
    <button style="margin-left: 25%; width: 40%; margin-bottom: 3%" mat-raised-button (click)="submitReview()" class="global-darkBtn login-btn"> Leave a review </button>
  </div>
  <div class="blue-square">
    <h2 id="old-comms-and-reviews">Old comments and reviews</h2>
    <div *ngFor="let review of authorReviews" class="comment-container">
      <mat-icon style="margin-left: 2%; margin-top: 2%; font-size: x-large"><span class="material-icons-outlined">person</span></mat-icon>
      {{review.ownerEmail}}
      <p style="margin-left: 4%">Comment: {{review.text}}</p>
      <div class="grade-bar">
        <p>Grade: {{review.rating}}</p>
      </div>
      <button mat-raised-button (click)="deleteReview(review)" class="global-darkBtn delete-review-btn" type="button"> Delete review </button>
    </div>
  </div>
</div>
