<app-navbar></app-navbar>
<div class="form-container">
  <h1 class="login-header">Log in</h1>
  <mat-form-field class="global-icon-color">
    <span matTextPrefix>
      <mat-icon>
        <span class="material-symbols-outlined">alternate_email</span>
      </mat-icon>
    </span>
    <mat-label>
      Enter your email
    </mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field class="global-icon-color">
    <span matTextPrefix>
      <mat-icon>
        <span class="material-symbols-outlined">key</span>
      </mat-icon>
    </span>
    <mat-label>Enter your password here</mat-label>
    <input matInput [type]=" hide ? 'password' : 'text'" required>
    <button  mat-icon-button matSuffix (click)="hide = !hide"
             [attr.aria-pressed]="hide">
      <mat-icon >
        <span *ngIf="hide" class="material-symbols-outlined">visibility_on</span>
        <span *ngIf="!hide" class="material-symbols-outlined">visibility_off</span>
      </mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button class="global-darkBtn login-btn"> Log in </button>
</div>
