<app-navbar-owner></app-navbar-owner>
<router-outlet></router-outlet>
<form class="form-container" [formGroup]="accommodationForm" (ngSubmit)="onSubmit()">
  <h1 class="acc-management-header">Accommodation update</h1>
  <div>
    <div class="left-part">
      <!-- Accommodation Name -->
      <mat-form-field class="global-icon-color">
        <mat-label><mat-icon class="material-icons">business</mat-icon>Accommodation Name</mat-label>
        <input matInput placeholder="Enter accommodation name" name="name" formControlName="name" required>
      </mat-form-field>

      <!-- Number of Guests -->
      <mat-form-field class="global-icon-color">
        <mat-label><mat-icon class="material-icons">people</mat-icon>Min number of Guests</mat-label>
        <input matInput type="number" placeholder="Enter number of guests" name="guests" formControlName="minGuests" required>
      </mat-form-field>
      <mat-form-field class="global-icon-color">
        <mat-label><mat-icon class="material-icons">people</mat-icon>Max number of Guests</mat-label>
        <input matInput type="number" placeholder="Enter number of guests" name="guests" formControlName="maxGuests" required>
      </mat-form-field>




      <!-- Detailed Description -->
      <mat-form-field class="global-icon-color">
        <mat-label><mat-icon class="material-icons">description</mat-icon>Detailed Description</mat-label>
        <textarea matInput placeholder="Enter detailed description" name="description" formControlName="description"></textarea>
      </mat-form-field>

      <!-- Accommodation Type Dropdown -->
      <mat-form-field class="global-icon-color">
        <mat-label><mat-icon class="material-icons">business</mat-icon>Accommodation Type</mat-label>
        <mat-select placeholder="Select accommodation type" name="accommodationType" formControlName="accommodationType" required>
          <mat-option value="STUDIO">Studio</mat-option>
          <mat-option value="APARTMENT">Apartment</mat-option>
          <mat-option value="ROOM">Room</mat-option>
          <mat-option value="HOTEL">Hotel</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Booking Confirmation Type Dropdown -->
      <mat-form-field class="global-icon-color">
        <mat-label><mat-icon class="material-icons">check</mat-icon>Booking Confirmation Type</mat-label>
        <mat-select placeholder="Select booking confirmation type" name="bookingConfirmationType"  formControlName="bookingConfirmationType" required>
          <mat-option value="AUTOMATIC">Automatic</mat-option>
          <mat-option value="MANUAL">Manual</mat-option>
        </mat-select>
      </mat-form-field>
      <app-map></app-map>
    </div>


    <div class="right-part">
      <h2>Accommodation amenities: </h2>
      <div class="amenities-container" >
        <div class="amenities-column">
          <mat-checkbox class="global-icon-color" formControlName="parking" (change)="onAmenityChange($event, 1)">
            <mat-icon class="material-icons">local_parking</mat-icon>Parking
          </mat-checkbox>
          <mat-checkbox class="global-icon-color" formControlName="wifi"  (change)="onAmenityChange($event, 2)">
            <mat-icon class="material-icons">wifi</mat-icon>Wifi
          </mat-checkbox>
          <mat-checkbox class="global-icon-color" formControlName="airConditioning"  (change)="onAmenityChange($event, 3)">
            <mat-icon class="material-icons">ac_unit</mat-icon>Air Conditioning
          </mat-checkbox>
        </div>
        <div class="amenities-column">
          <mat-checkbox class="global-icon-color" formControlName="kitchen"  (change)="onAmenityChange($event, 4)">
            <mat-icon class="material-icons">kitchen</mat-icon>Kitchen
          </mat-checkbox>
          <mat-checkbox class="global-icon-color" formControlName="bathroom"  (change)="onAmenityChange($event, 5)">
            <mat-icon class="material-icons">bathtub</mat-icon>Bathroom
          </mat-checkbox>
          <mat-checkbox class="global-icon-color" formControlName="pool" (change)="onAmenityChange($event, 6)">
            <mat-icon class="material-icons">pool</mat-icon>Pool
          </mat-checkbox>
        </div>
        <div class="amenities-column">
          <mat-checkbox class="global-icon-color" formControlName="balcony" (change)="onAmenityChange($event, 7)">
            <mat-icon class="material-icons">balcony</mat-icon>Balcony
          </mat-checkbox>
        </div>
      </div>


      <h2>Add availability period</h2>
      <mat-form-field class="global-icon-color">
        <mat-label><mat-icon class="material-icons">date_range</mat-icon> Available from</mat-label>
        <input matInput [matDatepicker]="fromDatePicker" formControlName="startDate" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #fromDatePicker></mat-datepicker>
      </mat-form-field>

      <!-- Datepicker for "To" Date -->
      <mat-form-field class="global-icon-color">
        <mat-label><mat-icon class="material-icons">date_range</mat-icon> Available until</mat-label>
        <input matInput [matDatepicker]="toDatePicker" formControlName="endDate" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #toDatePicker></mat-datepicker>
      </mat-form-field>
      <!-- Price per Night -->
      <mat-form-field class="global-icon-color">
        <mat-label><mat-icon class="material-icons">local_atm</mat-icon>Price per Night</mat-label>
        <input matInput type="number" placeholder="Enter price per night" formControlName="price">
      </mat-form-field>

      <button mat-raised-button (click)="onAddingPeriod()" [disabled]="!addingNewPeriod" class="global-darkBtn save-changes-btn">Add period</button>
      <button mat-raised-button (click)="onChangingPeriod(selectedPeriod.value)" [disabled]="addingNewPeriod" class="global-darkBtn save-changes-btn">Change period</button>

      <h2>Existing availability periods: </h2>
      <mat-form-field>
        <mat-label>Select....</mat-label>
        <mat-select #selectedPeriod (selectionChange)="onSelectedPeriodChange($event)">
          <mat-option value="none">None</mat-option>
          <mat-option *ngFor="let period of accommodation.availabilityPeriods" [value]="period" >
            {{ period.startDate | date }} - {{ period.endDate | date }} : price = {{ period.price | number }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button (click)="onDeletingPeriod(selectedPeriod.value)" [disabled]="addingNewPeriod" class="global-dangerBtn save-changes-btn">Delete period</button>

      <div>
        <input type="file" (change)="onFileSelected($event)" multiple />
        <div class="image-container">
          <div *ngFor="let image of imagesFormArray.value">
            <mat-card>
              <mat-card-header>
                <mat-card-title-group>
                  <img mat-card-sm-image [src]="getUrl(image)" alt="Uploaded Image" />
                  <button mat-icon-button (click)="deleteImage(image)" matIconSuffix style="margin-top: 13%">
                    <mat-icon >
                      <span class="material-symbols-outlined">close</span>
                    </mat-icon>
                  </button>
                </mat-card-title-group>
              </mat-card-header>
            </mat-card>
        </div>
      </div>
    </div>
  </div>
  </div>

  <button mat-raised-button class="global-darkBtn save-changes-btn" type="submit">Update Accommodation</button>

</form>
