<app-navbar></app-navbar>
<form class="form-container">
    <h1 class="acc-management-header">Manage account details</h1>
    <mat-form-field class="global-icon-color">
    <span matTextPrefix>
      <mat-icon>
        <span class="material-symbols-outlined">alternate_email</span>
      </mat-icon>
    </span>
      <mat-label>
        current.adress@gmail.com
      </mat-label>
      <input matInput readonly>
    </mat-form-field>
    <mat-form-field class="global-icon-color">
    <span matTextPrefix>
      <mat-icon>
        <span class="material-symbols-outlined">badge</span>
      </mat-icon>
    </span>
      <mat-label>
        Enter your name
      </mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="global-icon-color">
    <span matTextPrefix>
      <mat-icon>
        <span class="material-symbols-outlined">badge</span>
      </mat-icon>
    </span>
      <mat-label>
        Enter your last name
      </mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="global-icon-color">
    <span matTextPrefix>
      <mat-icon>
        <span class="material-symbols-outlined">key</span>
      </mat-icon>
    </span>
      <mat-label>
        Enter your password
      </mat-label>
      <input matInput type="password">
    </mat-form-field>
    <mat-form-field class="global-icon-color">
    <span matTextPrefix>
      <mat-icon>
        <span class="material-symbols-outlined">key</span>
      </mat-icon>
    </span>
      <mat-label>
        Confirm your password
      </mat-label>
      <input matInput type="password">
    </mat-form-field>
    <mat-form-field class="global-icon-color">
    <span matTextPrefix>
      <mat-icon>
        <span class="material-symbols-outlined">phone</span>
      </mat-icon>
    </span>
      <mat-label>
        Enter your phone number
      </mat-label>
      <input matInput type="number">
    </mat-form-field>
    <mat-form-field class="global-icon-color">
    <span matTextPrefix>
      <mat-icon>
        <span class="material-symbols-outlined">location_on</span>
      </mat-icon>
    </span>
      <mat-label>
        Enter your address
      </mat-label>
      <input matInput>
    </mat-form-field>


  <button mat-raised-button class="global-darkBtn save-changes-btn"> Log in </button>
  <button mat-raised-button class="global-dangerBtn save-changes-btn"> Delete account </button>


<!--    <div class="custom-form-field">-->
<!--      <label>Upload Image</label>-->
<!--      <input type="file" (change)="onFileSelected($event)" accept="image/*">-->
<!--    </div>-->


</form>
