<div *ngIf="userRole === Role.GUEST">
  <!-- Guest Navbar Links -->
  <app-navbar-main></app-navbar-main>
</div>
<div *ngIf="userRole === Role.UNKNOWN">
  <!-- Non Reg Navbar Links -->
  <app-navbar-non-registered-main></app-navbar-non-registered-main>
</div>
<mat-drawer-container>
  <mat-drawer opened mode="side" class="sidenav">
    <h1 class="logo-header">
      <img src="../../../assets/logo.png" alt="Logo" class="logo">
      <h1 class="title">BookIT</h1>
    </h1>
    <div class="filters-container">
      <div class="aaa"><div class="filters-title"><h2>Filters:</h2></div></div>
      <h1>  </h1>
      <div class="aaa">
        <span class="material-icons">person</span>
        <h3 class="filters-txt">Guests: </h3>
        <mat-form-field class="example">
          <mat-label>Enter a Number</mat-label>
          <input matInput type="number" [(ngModel)]="value" class="custom-input">
        </mat-form-field>
      </div>
      <div class="aaa">
        <span class="material-icons">wifi</span>
        <h3 class="filters-txt">Wi-Fi: </h3>
        <mat-checkbox
          class="example-cb"
          [(ngModel)]="wifi">
        </mat-checkbox>
      </div>
      <div class="aaa">
        <span class="material-icons">local_parking</span>
        <h3 class="filters-txt">Parking: </h3>
        <mat-checkbox
          class="example-cb"
          [(ngModel)]="parking">
        </mat-checkbox>
      </div>
      <div class="aaa">
        <span class="material-icons">ac_unit</span>
        <h3 class="filters-txt">Air Condition: </h3>
        <mat-checkbox
          class="example-cb"
          [(ngModel)]="ac_unit">
        </mat-checkbox>
      </div>
      <div class="aaa">
        <span class="material-icons">date_range</span>
        <mat-form-field>
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date">
            <input matEndDate placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="aaa">
        <span class="material-icons">paid</span>
        <h3 class="filters-txt">Price range: </h3>

        <!-- Display Min and Max Values Above Slider Ends -->
        <div class="aaaa">
        <div class="slider-labels">
          <div class="slider-label" *ngIf="minSliderValue !== undefined">{{ minSliderValue }}</div>
          <div class="slider-label" *ngIf="maxSliderValue !== undefined">{{ maxSliderValue }}</div>
        </div>

        <!-- MatSlider with Display Function -->
        <mat-slider min="10" max="1000" [displayWith]="displayFn" [(ngModel)]="sliderValues">
          <input matSliderStartThumb [(ngModel)]="minSliderValue">
          <input matSliderEndThumb [(ngModel)]="maxSliderValue">
        </mat-slider>
        </div>
      </div>

      <h1></h1>
      <div class="aaa1">
        <button mat-raised-button class="global-darkBtn login-btn"> Apply filters </button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-grid-list cols="3" rowHeight="2:4">
      <div *ngIf="accommodations.length > 0; else noAccommodations">
        <ng-container *ngFor="let accommodation of accommodations; let isFirst = first">
          <div class="grid-container">
            <h2 class="acc-name">Name: {{ accommodation.name }}</h2>
            <p class="acc-desc">• Description: {{ accommodation.description}}</p>
            <p class="acc-desc">• Type: {{ accommodation.accommodationType }}</p>
            <p class="acc-desc">• Booking Confirmation Type: {{ accommodation.bookingConfirmationType }}</p>
                <!-- Add more details as needed -->
            <button mat-raised-button (click)="bookITClicked(accommodation.id)" class="global-darkBtn login-btn"> Book IT </button>
          </div>
        </ng-container>
      </div>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>
<ng-template #noAccommodations>
  <p>No accommodations found.</p>
</ng-template>
