/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  .mat-mdc-raised-button.global-darkBtn {
    color:  white;
    background-color: rgba(8,0,103,1);
  }

  .global-icon-color{
    color: rgba(8, 0, 103, 1); /* Changes text color to blue */
  }

  .mat-menu-content {
    font-family: Roboto Flex, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    color: rgba(8, 0, 103, 1); /* Changes text color to blue */
    font-weight: bold;
  }

  /* Round the edges of the menu */
  .mat-menu-panel {
    border-radius: 8px; /* Adjust the value as needed */
  }

  /* Style the lines between menu items */
  .mat-menu-item {
    border-bottom: 1px rgba(8, 0, 103, 1); /* Changes text color to blue */

  }
  /* Style the last item to remove the bottom border */
  .mat-menu-item:last-child {
    border-bottom: none;
  }



  .mat-mdc-raised-button.global-dangerBtn{
    color: white;
    background-color: rgba(177, 0, 0, 1);
  }
}
