/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  .mat-mdc-raised-button.global-darkBtn {
    color:  white;
    background-color: rgba(8,0,103,1);
  }

  .global-icon-color{
    color: rgba(8, 0, 103, 1); /* Changes text color to blue */
  }
}
