<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Villa impresia</mat-card-title>
        <mat-card-subtitle>
          <li>Price per night: 2500$</li>
          <li>Location: Chicago, Illinois</li>
          <li>Amenities: Wifi, Parking space, Air conditioning</li>
        </mat-card-subtitle>
      </mat-card-title-group>
      <img mat-card-md-image class="picture">
      <img mat-card-md-image class="picture">
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button class="global-darkBtn right-btn"> Leave a review </button>
    </mat-card-content>
  </mat-card>
</div>
